//VARIÁVEIS SASS
//cores gradiente 
$primeiracor: white;
$segundacor: lightgray;

//Variáveis Media Queries
$mqmobile: "(max-width:980px)";

//MIXINS SACSS
@mixin botaopadrao{
  background: #124E7E; 
	padding: 10px; 
	cursor: pointer; 
	color: #fff; 
	border: none; 
	font: 14px "Open Sans", sans-serif;
	border-radius: 2px;
}

@mixin botaoativo{
  background: #0c8de2; 
	padding: 10px; 
  cursor: pointer; 
	color: #fff; 
	border: none; 
	font: 14px "Open Sans", sans-serif;
	border-radius: 2px;
}

@mixin form{
  padding: 5px; 
	color: #000; 
	font: 14px "Open Sans", sans-serif;
	text-transform: uppercase;
	border: solid 1px #cfcfcf;
}

@mixin labelform{
  border: none; 
	font: 14px "Open Sans", sans-serif;
	font-weight: bold;
}

/*CONFIGURAÇÕES GERAIS - TODAS AS PÁGINAS*/

a{
	font: 14px "Open Sans", sans-serif;
	color: #004d81;
		@media #{$mqmobile}{
			font: 16px "Open Sans", sans-serif;
			color: #004d81;
		}
}

.button {
@include botaopadrao;
}

.formlabel1 {
	width:470px;
  @include form;
	@media #{$mqmobile}{
		width:96%;
		margin: auto;
		padding: 5px; 
		color: #000; 
		font: 14px "Open Sans", sans-serif;
		text-transform: uppercase;
		border: solid 1px #cfcfcf;
	}
}

.formlabel2{
	width:322px;
  @include form;
	@media #{$mqmobile}{
		width:96%;
		padding: 5px; 
		color: #000; 
		font: 14px "Open Sans", sans-serif;
		text-transform: uppercase;
		border: solid 1px #cfcfcf;
	}
}

.formlabel3 {
	width: 120px;
  @include form;
	@media #{$mqmobile}{
		width: 96%;
		padding: 5px; 
		color: #000; 
		font: 14px "Open Sans", sans-serif;
		text-transform: uppercase;
		border: solid 1px #cfcfcf;
	}
}

.textolabel {
	@include labelform;
	@media #{$mqmobile}{
		border: none; 
		font: 14px "Open Sans", sans-serif;
		font-weight: bold;
	}
}

/*CONFIGURAÇÕES INDEX*/

.formlogin{
	margin: 15px;
	width: 150px;
	padding: 20px; 
	color: #000; 
	font: 14px "Open Sans", sans-serif;
	border: solid 1px #cfcfcf;
	text-align: center;
		@media #{$mqmobile}{
		margin-top: 5px;
		height: 100%;
		width: 150px;
		padding: 20px; 
		color: #000; 
		font: 18px "Open Sans", sans-serif;
		border: solid 1px #cfcfcf;
		text-align: center;
		}
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: top;
	vertical-align: top;
	@media #{$mqmobile}{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

.containerlogin{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.quadro{
	padding: 10px;
	width: 300px;
	height: 500px;
	background-image:linear-gradient($primeiracor,$segundacor);
	border-radius: 15px;
	margin-top: 10px;
  vertical-align: top;
	@media #{$mqmobile}{
		width: 100%;
		height: 800px;
		margin-top: 20px;
		padding: 10px;
		background-image:linear-gradient(white,lightgray);
		border-radius: 15px;
	}
}

.link{
	padding-bottom: 1em;
}

.inicio-index{
	text-align: center;
	padding-bottom: 3em; 
}

.meio-index{
	text-align: center;
	padding-bottom: 2em;  
}

.fim-index{
	text-align: center;	
	margin: auto auto;
}

.buttonlogin{
	@include botaopadrao;
	width: 150px;
	margin-top: 6px;
	@media #{$mqmobile}{
		background: #124E7E; 
		cursor: pointer; 
		color: #fff; 
		border: none; 
		font: 18px "Open Sans", sans-serif;
		border-radius: 2px;
		width: 150px;
		padding: 20px; 
		margin-top: 15px;
	}
}

.titulos{
	font: 20px "Open Sans", sans-serif;
	@media #{$mqmobile}{
		font: 30px "Open Sans", sans-serif;
	}
}

/*CONFIGURAÇÕES CADASTRO*/

.inicio-cadastro {
	width: 100%;
	margin: auto;
	text-align: center;
	border: solid;
}

.fisjur{
	text-align: center;
}
@media #{$mqmobile}{
	div .fisjur{
		padding: 0 0 20px;
	}
}

.meio-cadastro{
	margin: 0 50% 0 50%;
	width: 100%;
	text-align: center;
}

.fim-cadastro{
	padding-top: 15px;
	width: 100%;
	text-align: center;
}

h1{
	font: 35px "Open Sans", sans-serif;
	clear: left;
	text-align: center;
	padding: 20px 0;
	text-transform: uppercase;
	@media #{$mqmobile}{
		font: 25px "Open Sans", sans-serif;
		clear: left;
		text-align: center;
		padding: 10px 0;
	}
}

li p{
	margin: 5px;
}

ul li{
	display: inline-block;
	list-style: none;
	@media #{$mqmobile}{
		display: list-item;
	}
}

.esconde{
	display: none;	
}

#erro{
	color: red;
	font: 14px "Open Sans", sans-serif;
}

.bt-tipocliente{
	@include botaopadrao;
  width: 120px;
	margin-top: 6px;
	margin-bottom: 15px;
}

.bt-tipocliente-ativo{
	@include botaoativo;
  width: 120px;
	margin-top: 6px;
	margin-bottom: 15px;
}
